/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  color: #353430;

  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-shadow-color: #ff0070;
  --main-text-color: #353430;
  --decorated-color: #353430;
  --section-text-color: var(--main-text-color);
  --button-color: var(--text-color);
  --bg-color: #fff1f7;
  --nav-color-hover: #32312d66;
  --nav-color: #353430;
  --nav-color-focus: #32312d66;
  --link-focus: #353430;
  --color-button-active: #353430;
  --color-decor: #353430;
  --main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg: url(../images/cover-image-light.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: var(--main-font-family);
    color: #353430;

    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-shadow-color: #ff0070;
    --main-text-color: #353430;
    --decorated-color: #353430;
    --section-text-color: var(--main-text-color);
    --button-color: var(--text-color);
    --bg-color: #fff1f7;
    --nav-color-hover: #32312d66;
    --nav-color: #353430;
    --nav-color-focus: #32312d66;
    --link-focus: #353430;
    --color-button-active: #353430;
    --color-decor: #353430;
    --main-font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .decor-text {
    display: none;
  }
}

@media (width>1px) {
  .decor-text {
    display: none;
  }
}

@media (width >= 1024px) {
  .title {
    text-shadow: 4px 4px 0px var(--title-shadow-color);
  }
  .footer__text {
    text-shadow: 2px 2px 0px var(--title-shadow-color);
  }
}
